body{
    background-color: rgb(15, 9, 9);
    color: rgb(255, 255, 255);
}
h2{text-align: center;
font-size: 60px;
color: brown;} 

    h3{text-align: center;
        font-size: 30px}

.img{
    text-align: center
}

.precos { 
    text-align: center;
    color: black;
}

.cartaz {
    width: 50%;
    height: 50%;
}

.cartaz-todos { display: grid;
grid-template-columns: 25% 25% 25% 25%;}

.filme{
    text-align: center;
}

.link{color: rgb(153, 0, 255);
    background-color: rgba(174, 6, 216, 0);
}